* {
	text-align: center;
	background-color: #b3cde9;
}

main {
	display: grid;
	width: 1920px;
	height: 1080px;
	grid-template: repeat(11, 1fr) / repeat(6, 1fr);
	column-gap: 20px;
	grid-row-gap: 20px;
	min-height: 100%;
	min-width: 100%;
}

button {
	min-width: 100%;
	min-height: 100%;
	padding: 15px;
	background-color: #E5F3FF;
	color: #000000;
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #3C6DCF,
    2px 2px 0 0 #3C6DCF,
    3px 3px 0 0 #3C6DCF,
    4px 4px 0 0 #3C6DCF,
    5px 5px 0 0 #3C6DCF,
    6px 6px 0 0 #3C6DCF,
    7px 7px 0 0 #3C6DCF,
    8px 8px 0 0 #3C6DCF,
    9px 9px 0 0 #3C6DCF,
    10px 10px 0 0 #3C6DCF,
    11px 11px 0 0 #3C6DCF,
    12px 12px 0 0 #3C6DCF;
 }

button:hover{
    letter-spacing: 5px;
    color:#444;
  }

button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #3C6DCF,
    2px 2px 0 0 #3C6DCF,
    3px 3px 0 0 #3C6DCF,
    4px 4px 0 0 #3C6DCF,
    5px 5px 0 0 #3C6DCF;
  background-color: #C4C4C4;
  color: #3C6DCF;
}

a {
	text-decoration: none;
	background-color: #E5F3FF;
	color: #000000;
}


